<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}" />
	<property name="LOG_PATH" value="/tmp/idp-logs" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%d{dd-MM-yyyy HH:mm:ss}] %-5p %c{1}:%L - %m%n"
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE_GENERAL"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p
				[${springAppName},%X{X-B3-TraceId:-}] %m%n
			</pattern>
		</encoder>
		<file>${LOG_PATH}/idp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${LOG_PATH}/fleet-smr-api.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="net.sf" level="ERROR">
		<appender-ref ref="FILE_GENERAL" />
	</logger>
	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="FILE_GENERAL" />
	</logger>
	<root level="INFO">
		<appender-ref ref="FILE_GENERAL" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>